html {
    height: 100%;
}
body {
    height: 100%;
    max-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}
 html, body {
    display: flex;
    justify-content: center; 
    align-items: center;  
 }

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 13vw;
    height: 20vw;
    padding: 10px 5px;
    background-color: white;
    box-shadow: 0 7px 14px rgba(100, 114, 135, 0.30);
    border-radius: 12px;
}

.qr-component {
    flex: 1;
    margin: 0 auto;
}

.qr-component > img {
    height: 12vw;
    width: 12vw;
    margin: 0 auto;
    border-radius: 8px;
}

.desc {
    flex: 2;
    margin: 0 5px;
    text-align: center;
}
.desc h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 0.9vw;
}
.desc p {
    color: hsl(216, 15%, 48%);
    font-size: 0.84vw;
    font-weight: 400;
}
/* small phones in portrait mode */
@media (max-width: 400px) {
    .container {
        width: 35vh;
        height: 50vh;
        margin: 0 auto;
        padding-top: 5px;
    }
    .qr-component > img {
        width: 32vh;
        height: 32vh;
        border-radius: 12px;
    }
    .desc h1 {
        font-weight: 700;
        font-size: 2.45vh;
    }
    .desc p {
        font-size: 2vh;
    }
}

/* big phones in portrait mode */
@media (min-width: 412px) and (max-width: 600px) {
    .container {
        width: 35vh;
        height: 55vh;
        padding-top: 5px;
      }
      .qr-component > img {
        width: 33vh;
        height: 33vh;
      }
      .desc h1 {
        font-size: 2.5vh;
      }
       .desc p {
        font-size: 2.35vh;
    }
}
  
/* small tablets & small phone landscape mode */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .container {
        width: 35vh;
        height: 55vh;
        margin: 0 auto;
        padding-top: 5px;
      }
      .qr-component > img {
        width: 33vh;
        height: 33vh;
      }
      .desc h1 {
        font-size: 2.5vh;
      }
       .desc p {
        font-size: 2.3vh;
       }
  }

  /* atypical devices - landscape */
@media (min-width: 481px) and (max-width: 600px) and (orientation: landscape) {
    .container {
        width: 23vw;
        height: 40vw;
        padding-top: 5px;
      }
      .qr-component > img {
        width: 22vw;
        height: 22vw;
      }
      .desc h1 {
        font-size: 1.72vw;
      }
       .desc p {
        font-size: 1.7vw;
       }
}