:root {
    --scale: 50%;
    --tscale: -50%;
    --mscale: 50%;
    --mtscale: -28%;
}
html {
    height: 100%;
}
body {
    height: 100%;
    max-height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 165px;
    top: var(--scale);
    left: var(--scale);
    transform: translate(var(--tscale), var(--tscale));
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 12px;
    box-shadow: 0 7px 15px rgba(100, 114, 135, 0.20);
}

@media (min-width: 300px) {
    .container {
        top: var(--mscale);
        left: var(--mscale);
        transform: scaleX(1.9) scaleY(1.95) translate(var(--mtscale), var(--mtscale));
      }
}

@media (min-width: 768px) {
    .container {
        top: var(--scale);
        left: var(--scale);
        transform: scaleX(1.15) scaleY(1.15)  translate(var(--tscale), var(--tscale));
      }
}

.qr-component {
    flex: 1;
    margin: 0 auto;
    padding-top: 1px;
}

.qr-component > img {
    height: 144px;
    width: 144px;
    margin: 5px 0 0 0 ;
    border: 1px solid white;
    border-radius: 6px;
}

.desc {
    flex: 1;
    text-align: center;
    margin: 0 15px;
    /* border: 1px solid red; */
}
.desc h1 {
    /* margin: 0; */
    font-weight: 800;
    font-size: 0.6em;
    /* padding: 0 1px; */
    color: hsl(218, 44%, 22%);
    /* border: 1px solid red; */
    line-height: 1.3;
}
.desc p {
    color: hsl(216, 15%, 48%);
    font-size: 0.53em;
    font-weight: 400;
    padding-bottom: 12px;
    line-height: 1.4;
    /* border: 1px solid blue; */
}